.Form {
  display: grid;
  align-self: start;
  justify-self: center;
  background: rgba(22, 22, 22, 0.486);
  padding: 40px;
}

h1 {
  justify-self: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}
