.inputs {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  max-width: 350px;
  font-family: "Sarabun", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  align-self: center;
}

.inputs::placeholder {
  color: rgb(192, 192, 192);
  font-size: 1rem;
}

.inputs:focus + .login {
  visibility: visible;
  height: auto;
  color: white;
  transform: translate3d(5px, -70px, 0);
  transition: all 0.4s;
  margin-bottom: -30px;
}

.inputs:focus + .form {
  visibility: visible;
  height: auto;
  color: black;
  transform: translate3d(5px, -70px, 0);
  transition: all 0.4s;
  margin-bottom: -30px;
}

.hasErrors {
  border: 2px solid rgb(241, 52, 52);
}

.errorMessage {
  font-size: 0.9rem;
  margin-top: 3px;
  color: rgb(241, 52, 52);
}

.login {
  visibility: hidden;
  height: 0;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  transform: translate3d(15px, -70px, 0);
}

.form {
  visibility: hidden;
  height: 0;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  transform: translate3d(15px, -70px, 0);
}

.inputGroup {
  color: black;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 30px;
  align-self: center;
}

.bet {
  align-self: center;
  justify-self: center;
  padding: 5px;
  color: black;
  font-weight: bold;
  width: 30px;
}
